.light {
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 30px;
    margin: 10px 5px;
}

.light:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h2 {
   margin-left: 10px; 
}